@charset "utf-8";


@media screen and (min-width: 0px){


.cart{

}

.cart-item{
	width: 380px;
	height: 80px;
	position: relative;
	margin: 10px;
	box-sizing: border-box;
	background: #222;
	float: left;
}
.cart-item-img{
	float: left;
	text-align: center;
}
.cart-item img{
	height: 80px;
	width: auto;
}
.cart-item-name{
	font-size: 14px;
	font-weight: bold;
	color: white;
	position: absolute;
	top: 10px;
}
.cart-item-price{
	position: absolute;
	font-size: 24px;
	color: #aaa;
	font-weight: bold;
	bottom: 10px;
}
.cart-item-amount{
	
}
.cart-item-X{
	position: absolute;
	right: 10px;
	top: 10px;
	color: #ef3340;
}



.cart-address{
	background: none;
	height: auto;
	margin: 10px;
	box-sizing: border-box; 
	padding: 10px;
	border: solid 2px #ef3340;
	color: #ccc;
	line-height: auto;
}
.cart-address-name{
	font-weight: bold;
	color: #fff;
}
.cart-add-address{
	width: 100%;
	box-sizing: border-box; 
	padding: 10px;
}
.cart-add-address input{
	height: 40px;
	margin-bottom: 10px;
}
.cart-add-address textarea{
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 10px;
	padding: 10px;
}

.cart-total{
	margin: 0 10px;
	width: 360px;
	right: 0;
	box-sizing: border-box;
}
.cart-total-price{
	font-size: 32px;
	color: #ef3340;
	text-align: center;
	width: 100%;
	line-height: 80px;
	font-weight: bold;
}

.paid-choice{
	width: 80px;
	height: 80px;
	margin: 10px;
	background: #ef3340;
	float: left;
	opacity: 1;
}
.paid-choice img{
	width: 100%;
	height: 100%;
}
.paid-choice:hover{
	opacity: 1;
	border: solid 3px #ef3340;
	box-sizing: border-box;
}

.paid-detail{
	width: 780px;
	height: 300px;
	margin: 10px;
	background: none;
	clear: both;
	margin-top: 110px;
	border: solid 3px #333;
	box-sizing: border-box;
	padding: 10px;
	color: white;
}
.paid-choice-active{
	border: solid 3px #ef3340;
	box-sizing: border-box;
	opacity: 1;

}





}
@media screen and (min-width: 768px){

}

@media screen and (min-width: 1024px){

}